
body {
  background-color: #de6345;
}

span {
  width: 32%;
  padding: 50px;
  border: 10px solid lightcyan;
  margin-top: 0%;
  margin-left: 8%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 18px;

}

.image_resize {
  height: 60%;
}
.image_resize img {
  width: 37%;
}

img {
  float: right;
  
}

span {
  float:left;
  text-align: left;
}

section {
          margin-top: 10%;
          margin-right: 11%;
          font-family: Arial, Helvetica, sans-serif
}

h4 {
          color: white;
          vertical-align: top;
          text-align: center;
          display: block;
}

p {
  text-align: justify;
}
}

ul {
  text-align: right;
  
}